<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageAndText.Properties.Settings.ImagesConnectionString"
            connectionString="Data Source=TIMOFEY\SQLEXPRESS;Initial Catalog=Images;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ImageAndText.Properties.Settings.ImagesConnectionString1"
            connectionString="Data Source=DESKTOP-A643SOE\SQLEXPRESS;Initial Catalog=Images;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ImageAndText.Properties.Settings.DigitalConnectionString"
            connectionString="Data Source=DESKTOP-A643SOE\SQLEXPRESS;Initial Catalog=Digital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>